@charset "UTF-8";
/* CSS Document */

/* Body */
body {
	height: 800px;
	width: 1020px;
	margin: 0;
}

/* ------------------------------- */

#todaywrapper {
	margin: 0 auto;
}
#todaytitle {
	position: relative;
	top: 98px;
	left: 139px;	
}

#todaydate {
	font-family: BebasNeue;
	font-size: 60px;	
	position: relative;
	top: 32px;
	left: 544px;
	color: #c7c7c8;
}

#challengetitle {
	position: relative;
	top: 40px;
	left: 175px;
	visibility: hidden;
}	

#challengename {
	position: relative;
	left: 340px;	
	top: 10px;
	font-family: Garamond, "Times New Roman", Times, serif;
	font-size: 24px;
	color: #6084a5;
}

.todaychallenge {
	display: block;
	margin-left: auto;
	margin-right: auto;	
	position: relative;
	top: 25px;
	left: -30px;
}

#pagbuttons {
	font-family: Garamond, "Times New Roman", Times, serif;
	font-size: 16px;
	color: #7d7d7d;
	margin: 50px 0 20px 0;
	position: relative;
	left: 460px;
}

#pagbuttons a:link {
	color: #2da0c1;	
}

#pagbuttons a:visited {
	
}

#pagbuttons a:hover {
	
}

#pagbuttons a:active {
	
}
